@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');


.Title {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  margin: 20px 0px 0px 0px;
}